__pycache__/
*.py[cod]
.ipynb_checkpoints/

outputs/*
!outputs/experiments/
outputs/experiments/*
!outputs/experiments/*/
outputs/experiments/*/*
!outputs/experiments/*/*/
outputs/experiments/*/*/*
!outputs/experiments/*/eval/*.png
!outputs/experiments/*/eval/*.txt
!outputs/experiments/*/eval/*.json
!outputs/experiments/*/eval/*.csv
!outputs/experiments/*/models/*.pkl

models/
data/
docref/
lightning_logs/
references_friends/
logs/

*.ckpt
*.pkl
*.parquet
*.log
*.zip
.env
